<style>
h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
body {
  color: white;
  background-color: white;
}
a {
  color: tan;
}
</style>
<div class="container">
<h1>By Laws and Operating Rules</h1>

<A href="http://www.skylondawater.com//docs/SMWCOperatingRules2015.pdf">SMWC Operating Rules - 2015 </A>

<br>

<a href="http://www.skylondawater.com//docs/SMWC_ByLawsNovember2011.pdf">Skylonda Mutal Water Company By Laws - November 2011</a></div>
