<style>
h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
body {
  color: white;
  background-color: white;
}
a {
  color: tan;
}
</style>
<div class="container">
  <h1>About Us</h1>
  <p>The Skylonda Mutual Water Company (SMWC) is a non-profit shareholder owned water company serving 157 homes. The company was first formed as the Skylonda area was subdivided and developed. Each homeowner on the system owns a share of the company. Board Members are shareholders who volunteer their time to manage the system and help work on it. Shareholders with experience or interest in the SMWC are encouraged to come to Board meetings and participate. Comments, complaints and suggestions are always welcome, especially from folks willing to contribute to the process.</p>
</div>
