<style>
h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
body {
  color: white;
  background-color: white;
}
a {
  color: tan;
}
</style>
<h1>Editing Post</h1>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
